<ion-header>
  <ion-toolbar>
    <ion-title>
     Altreeia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
     <ion-label style="
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 20px;
">Money Rased</ion-label>
    <ion-chip style="
    
    display: flex;
    justify-content: center;
">
  <ion-icon name="heart" color="dark"></ion-icon>
  <ion-label >£{{money}}</ion-label>
</ion-chip>
  <ion-button fill="solid" expand="block" color="dark"  routerLink="/login" style="
    position: absolute;
    bottom: 0px;
    width: -webkit-fill-available;
    height: 10%;
    margin: 10px;
">Login</ion-button>   
</ion-content>
